<div class="container">
    <div><b>Looping</b></div>
    <div class="evenborder"><b>ngFor : </b>
        <div><button (click)="getUser()">Get User</button></div>
        <ul *ngIf="user">
            <li *ngFor="let user of user">
                <div><b>Name</b>: {{user.employee_name}}</div>
                <div><b>Salary</b> : {{user.employee_salary}}</div>
                <div><b>Age</b> : {{user.employee_age}}</div>
            </li>
        </ul>
    </div>
    <div class="evenborder"><b>ngIf : </b>
        <div><button (click)="showText()">Show Text</button></div>
        <div *ngIf="showFlag">Showing Text !!!!!!!!!!!!!!!</div>
    </div>
    <div class="evenborder"><b>ngSwitch : </b>
        <div><button (click)="showSwitch('green')">Show Green Text</button></div>
        <div><button (click)="showSwitch('yellow')">Show Yellow Text</button></div>
        <div><button (click)="showSwitch('red')">Show Red Text</button></div>
        <div [ngSwitch]="switchValue">
                <p *ngSwitchCase="'green'" class="green">Showing Green Text !!!!!</p>
                <p *ngSwitchCase="'yellow'" class="yellow">Showing Yellow Text !!!!!</p>
                <p *ngSwitchCase="'red'" class="red">Showing Red Text !!!!!</p>
                <p *ngSwitchDefault>Showing Standard Text !!!!!</p>
        </div>
    </div>
</div>